.card {
  background: #161616;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(152, 154, 155);
}

.title {
  margin: 0;
  font-size: 16px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}